
/db
/work
/Testing/work
.pass.txt
# Ignore compiled Verilog/ModelSim/Vivado outputs
*.o
*.vcd
*.wdb
*.log

# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore VSCode settings
.vscode/

# Ignore Python stuff
__pycache__/
*.pyc
*.mpf
transcript
*.mti
*.do
*.wlf